/******************************************
/* CONFIG STYLES
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    fill: #F2F3D9;
    height: 40px;
    width: 40px;
}

.icon:hover {
    fill: #dac074;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    background: #151d2c;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    padding-left: 5%;
    font-size: 2.2rem;
    width: 100%;
    font-family: 'Mulish', 'sans-serif';
    color: #F2F3D9;
    margin-top: 5%;
}

/*** HERO ***/
#hero {
    width: 100%;
    height: 750px;
    color: #F2F3D9;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #011968, #0c285c, #0d3166, #234c81, #4374a1, #dac074);
}

#animContainer {
    height: 400px;
    width: 100%;
    position: absolute;
    top: -85px;
}

.mainBox {
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.582);
    width: 90%;
    border-radius: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 30px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
    -moz-animation: 1s ease-out 0s 1 slideInFromLeft
}

#mainBoxText h1 {
    font-family: 'Mulish', 'sans-serif';
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    word-spacing: -5px;
    line-height: 40px;
}

#mainBoxText h2 {
    font-size: 2.4rem;
    font-family: 'Mulish', 'sans-serif';
    margin: 10px 0 3% 0;
    line-height: 30px;
    padding-left: 0;
}

#mainBoxText p {
    color: #dac074;
    font-size: 1.8rem;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    font-style: italic;
    line-height: 25px;
}

.mainButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 0;
}

.mainButtons a {
    color: #dac074;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background: #151d2c;
    border: 1px solid #dac074;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
}

.mainBox ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

/*** INTRO ***/
#buttonContainers {
    display: flex;
    justify-content: space-around;
}

#introInfo p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    color: #F2F3D9;
    padding: 0 5%;
    font-size: 2.0rem;
    text-align: center;
    margin: 20px 0;
}

.connectButton {
    color: #F2F3D9;
    font-size: 1.5rem;
    border: 2px solid #dac074;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

/*** PROJECTS ***/
.recentProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recentProjects>section {
    background: #1b304a;
    border: 2px solid #dac074;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
}

.recentProjects img {
    max-height: 669px;
    width: 100%;
    object-fit: contain;
    /* margin-bottom: 30px; */
    padding: 20px;
}

.projectText {
    text-align: center;
    color: #F2F3D9;
}

h3 {
    font-family: 'Mulish', 'sans-serif';
    font-size: 2.8rem;
    color: #F2F3D9;
    /* text-decoration: underline; */
}

.projectP {
    font-size: 1.8rem;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    font-style: italic;
    padding: 0 5% 5% 5%;
    color: #F2F3D9;
}

/*** ABOUT ***/
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border: #dac074 solid 2px;
    border-radius: 200px;
}

#headshot {
    margin-top: 10px;
}

#aboutText {
    padding: 5%;
    text-align: center;
}

#aboutText h3 {
    color: #dac074;
}

#aboutText p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 30px;
    color: #F2F3D9;
}

#services {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

#contactPage {
    width: 100%;
    background: linear-gradient(to bottom left, rgb(20, 49, 143), #4374a1, #dac074);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact {
    width: 90%;
    background: rgba(0, 0, 0, 0.582);
    margin: 20px 0;
    padding: 6%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 15px;
}

#contact h2 {
    padding: 0;
    font-size: 3.5rem;
    color: #dac074;
    margin: 0;
}

#contact p {
    font-family: 'Mulish', sans-serif;
    color: #F2F3D9;
    font-style: normal;
    font-size: 1.8em;
    margin: 10px 0;
}

#contactDiv {
    width: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm>* {
    width: 100%;
    border: 1px solid #151d2c;
    margin: 1% 0;
    background: #F2F3D9;
    border-radius: 5px;
}

#contactForm>*>* {
    color: #151d2c;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
    padding: 10px;
}

#contactForm>input {
    color: #dac074;
    background: #151d2c;
    border: 1px solid #dac074;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.8rem;
    padding: 15px 0;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F3D9;
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
}

/******************************************
/* PAGE 1 STYLES
/*******************************************/

#idx_intro .connectButton {
    padding: 10px 20%;
}

#projectButton {
    font-family: 'Mulish', 'sans-serif';
    font-size: 1.6rem;
    padding: 10px 5%;
    color: #F2F3D9;
    border: 2px solid #dac074;
    border-radius: 10px;
}

#projectBContainer {
    padding-left: 5%;
    margin: 8% 0;
}

#myServicesContainer {
    width: 100%;
    /* padding: 5%; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#myServices {
    width: 100%;
    padding: 0 5%;
}

#myServices>* {
    margin: 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #dac074;
    width: 100%;
    text-align: center;
}

#myServices h3 {
    margin-bottom: 2%;
    color: #dac074;
}

#myServices p {
    color: #F2F3D9;
    font-family: 'Mulish', 'sans-serif';
    font-style: normal;
    font-size: 1.8rem;
    text-align: center;
}

#services h2 {
    margin: 5% 0;
    color: #F2F3D9;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 10px;
    line-height: 30px;
}

.serviceIcon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    fill: #F2F3D9;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

h5 {
    font-size: 3.0rem;
    text-align: center;
    color: #F2F3D9;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    padding: 0 5% 30px 5%;
    margin-bottom: 2%;
    text-align: center;
    color: #dac074;
    font-size: 1.6rem;
    line-height: 30px;
}


/******************************************
/* PAGE 2 STYLES
/*******************************************/

#intro .connectButton {
    padding: 10px 10px;
}

#devProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.devProject {
    background: #1b304a;
    border: 2px solid #dac074;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    text-align: center;
}

.devProjectInfo {
    padding-bottom: 10px;
}

.devGif {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    object-fit: contain;
}

.devProjectInfo span,
.devProjectInfo a {
    color: #F2F3D9;
    font-family: 'Mulish', sans-serif;
    font-size: 2.0rem;
    text-decoration: underline;
}