/******************************************
/* CONFIG STYLES
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    fill: #F2F3D9;
    height: 40px;
    width: 40px;
}

.icon:hover {
    fill: #dac074;
}

/******************************************
/* BASE/OVERLAPPING STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    background: #151d2c;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    padding-left: 5%;
    font-size: 2.2rem;
    width: 100%;
    font-family: 'Mulish', 'sans-serif';
    color: #F2F3D9;
    margin-top: 5%;
}

/*** HERO ***/
#hero {
    width: 100%;
    height: 750px;
    color: #F2F3D9;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #011968, #0c285c, #0d3166, #234c81, #4374a1, #dac074);
}

#animContainer {
    height: 400px;
    width: 100%;
    position: absolute;
    top: -85px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
    -moz-animation: 1s ease-out 0s 1 slideInFromLeft;
}

.mainBox {
    /* text-align: center; */
    background: rgba(0, 0, 0, 0.582);
    width: 90%;
    border-radius: 20px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 30px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
    -moz-animation: 1s ease-out 0s 1 slideInFromLeft;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#mainBoxText h1 {
    font-family: 'Mulish', 'sans-serif';
    font-weight: 800;
    font-size: 4rem;
    text-align: left;
    word-spacing: -5px;
    line-height: 40px;
}

#mainBoxText h2 {
    font-size: 2.4rem;
    font-family: 'Mulish', 'sans-serif';
    margin: 10px 0 3% 0;
    line-height: 30px;
    padding-left: 0;
}

#mainBoxText p {
    color: #dac074;
    font-size: 1.8rem;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    font-style: italic;
    line-height: 25px;
}

.mainButtons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 0;
}

.mainButtons a {
    color: #dac074;
    padding: 3%;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    background: #151d2c;
    border: 1px solid #dac074;
    border-radius: 10px;
    text-align: center;
    margin: 10px 0;
    transition: background .15s ease-in-out, color .10s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainButtons a:hover{
    background: #dac074;
    color: #F2F3D9;
}

.mainBox ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

/*** INTRO ***/
#buttonContainers {
    display: flex;
    justify-content: space-around;
}

#introInfo p, #idx_introInfo p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    color: #F2F3D9;
    padding: 0 5%;
    font-size: 2.0rem;
    text-align: center;
    margin: 20px 0;
}

.connectButton {
    color: #F2F3D9;
    font-size: 1.5rem;
    border: 2px solid #dac074;
    border-radius: 10px;
    font-family: 'Mulish', 'sans-serif';
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: background .2s ease-out;
    
}
.connectButton:hover{
    background: #dac074;
}

/*** PROJECTS ***/
.recentProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recentProjects>section {
    background: #1b304a;
    border: 2px solid #dac074;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    transition: background .10s ease-in-out;
}
.recentProjects>section:hover{
    background: #dac074;
}
.project{
    display: flex;
    flex-direction: column;
}

.recentProjects img {
    max-height: 669px;
    width: 100%;
    object-fit: contain;
    /* margin-bottom: 30px; */
    padding: 20px;
}

.projectText {
    text-align: center;
    color: #F2F3D9;
}

h3 {
    font-family: 'Mulish', 'sans-serif';
    font-size: 2.8rem;
    color: #F2F3D9;
    /* text-decoration: underline; */
}

.projectP {
    font-size: 1.8rem;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    font-style: italic;
    padding: 0 5% 5% 5%;
    color: #F2F3D9;
}
.techs{
    font-family: 'Mulish', sans-serif;
    color: #F2F3D9;
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding: 0 30px;
}

/*** ABOUT ***/
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border: #dac074 solid 2px;
    border-radius: 200px;
}

#headshot {
    margin-top: 10px;
}

#aboutText {
    padding: 5%;
    text-align: center;
}

#aboutText h3 {
    color: #dac074;
}

#aboutText p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 30px;
    color: #F2F3D9;
}

#services {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
}

#contactPage {
    width: 100%;
    background: linear-gradient(to bottom left, rgb(20, 49, 143), #4374a1, #dac074);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact {
    width: 90%;
    background: rgba(0, 0, 0, 0.582);
    margin: 20px 0;
    padding: 6%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 15px;
}

#contact h2 {
    padding: 0;
    font-size: 3.5rem;
    color: #dac074;
    margin: 0;
}

#contact p {
    font-family: 'Mulish', sans-serif;
    color: #F2F3D9;
    font-style: normal;
    font-size: 1.8em;
    margin: 10px 0;
}

#contactDiv {
    width: 100%;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm>* {
    width: 100%;
    border: 1px solid #151d2c;
    margin: 1% 0;
    background: #F2F3D9;
    border-radius: 5px;
}

#contactForm>*>* {
    color: #151d2c;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    padding: 10px;
}

#contactForm>input {
    color: #dac074;
    background: #151d2c;
    border: 1px solid #dac074;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    padding: 15px 0;
}

footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F3D9;
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
}

/******************************************
/* PAGE 1 STYLES
/*******************************************/

#idx_intro .connectButton {
    padding: 15px 20%;
}

#projectButton {
    font-family: 'Mulish', 'sans-serif';
    font-size: 1.6rem;
    padding: 10px 5%;
    color: #F2F3D9;
    border: 2px solid #dac074;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: background .2s ease-out;
}
#projectButton:hover{
    background: #dac074;
    
}

#projectBContainer {
    padding-left: 5%;
    margin: 8% 0;
}


#myServicesContainer {
    width: 100%;
    /* padding: 5%; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#myServices {
    width: 100%;
    padding: 0 5%;
}

#myServices>* {
    margin: 25px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #dac074;
    width: 100%;
    text-align: center;
}

#myServices h3 {
    margin-bottom: 2%;
    color: #dac074;
}

#myServices p {
    color: #F2F3D9;
    font-family: 'Mulish', 'sans-serif';
    font-style: normal;
    font-size: 1.8rem;
    text-align: center;
}

#services h2 {
    margin: 5% 0;
    color: #F2F3D9;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 10px;
    line-height: 30px;
}

.serviceIcon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    fill: #F2F3D9;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

h5 {
    font-size: 3.0rem;
    text-align: center;
    color: #F2F3D9;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    padding: 0 5% 30px 5%;
    margin-bottom: 2%;
    text-align: center;
    color: #dac074;
    font-size: 1.6rem;
    line-height: 30px;
}


/******************************************
/* PAGE 2 STYLES
/*******************************************/

#intro .connectButton {
    padding: 10px 10px;
}

#devProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.devProject {
    background: #1b304a;
    border: 2px solid #dac074;
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    text-align: center;
}

.devProjectInfo {
    padding-bottom: 10px;
}

.devGif {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    object-fit: contain;
}

.devProjectInfo span,
.devProjectInfo a {
    color: #F2F3D9;
    font-family: 'Mulish', sans-serif;
    font-size: 2.0rem;
    text-decoration: underline;
    transition: color .12s ease-out;
}
.devProjectInfo a:hover{
    color: #dac074;
}

/******************************************
/* RESPONSIVENESS
/*******************************************/

@media (min-width: 480px){
    .mainBox{
        width: 450px;
    }
    h2{
        font-size: 2.5rem;
    }
    #intro .connectButton{
        padding: 18px;
    }
    .recentProjects img{
        height: 730px;
    }
    #contact{
        width: 440px;
        padding: 25px;
    }
}

@media (min-width: 740px){
    html{
        font-size: 68%;
    }
    .mainBox{
        padding: 25px;
    }
    #idx_intro .connectButton{
        padding: 20px 20%;
    }
    #introInfo p, #idx_introInfo p{
        padding: 0 15%;
        margin-bottom: 35px;
    }
    .recentProjects img{
        object-fit: cover;
    }
    #myServicesAnim svg{
        width: 60%!important;
        margin: 0 20%;
    }
}

@media (min-width: 1024px){
    html{
        font-size: 71%;
    }
    h2{
        margin-top: 30px;
    }
    #animContainer{
        height: 585px;
        top: -135px;
    }
    .mainBox{
        width: 700px;
        flex-direction: row;
        padding-right: 18px;
        padding-left: 30px;
        margin-top: 123px;
    }
    .mainBox ul{
        flex-direction: column;
    }
    #links{
        width: 10%;
    }
    .icon{
        height: 52px;
        width: 52px;
    }
    #mainBoxText{
        width: 100%;
    }
    #mainBoxText h1{
        font-size: 5.5rem;
        line-height: 65px;
        margin-bottom: 25px;
        margin-top: 15px;
        padding-left: 2%;
    }
    #mainBoxText p{
        padding-right: 9%;
        line-height: 38px;
        margin-bottom: 23px;
        padding-left: 2%;
        font-size: 2.1rem;
    }
    #mainBoxText h2{
        padding-right: 5%;
        font-size: 3.2rem;
        margin-bottom: 20px;
        padding-left: 2%;
        line-height: 44px;
    }
    .mainButtons{
        flex-direction: row;

        margin: 10px 10px 10px 0;
    }
    .mainButtons a{
        padding: 4% 60px;
        margin-right: 10px;
        font-size: 1.7rem;
    }

    #idx_introInfo p:first-of-type{
        padding: 0 10%;
    }
    #introInfo p{
        margin: 5% 0;
        font-size: 2.8rem;
    }
    #intro .connectButton{
        padding: 21px 9%;
    }
    #myProjects h2{
        margin-bottom: 10px;
    }

    .recentProjects{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
        padding: 0 5%;
    }
    .recentProjects>section{
        width: 31%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    /* .project{
        background: #1b304a;
        border: 2px solid #dac074;
        border-radius: 10px;
        width: 100%;
        margin: 10px;
    } */

    .recentProjects img{
        /* height: 100%; */
        /* max-height: 720px; */
        /* object-fit: contain; */
        /* padding: 0; */
        margin-bottom: 10px;
    }
    .projectText{
        /* height: 140px; */
        padding: 5% 0;
    }

    #devProjectsContainer{
        flex-direction: row;
        align-items: normal;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 6px;
        padding: 0 5%;
    }
    .devProject{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 48%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .devGif{
        height: none;
        width: 92%;
    }

    #projectBContainer{
        margin: 2% 0;
        padding: 10px 5%;
    }
    #projectButton{
        padding: 20px 100px;
    }

    #about{
        flex-direction: row;
    }
    #headshot{
        margin-left: 5%;
    }
    #headshot #headshotPic{
        width: 365px;
        height: 365px;
    }

    #myServicesContainer{
        flex-wrap: nowrap;
    }
    #myServicesAnim{
        width: 90%;
    }
    #myServicesAnim svg{
        width: 90%!important;
        margin: 0;
        position: sticky!important;
        position: -webkit-sticky!important;
        top: 0!important;
        height: 350px!important;
    }
    #myServices{
        padding: 0 10%;
    }
    #myServices>*, #myServices p{
        text-align: start;
        line-height: 32px;
    }

    #services h2{
        padding: 0 200px;
        font-size: 2.5rem;
        line-height: 40px;
        margin-bottom: 50px;
    }
    h5{
        font-size: 3.7rem;
    }
    #services p{
        font-size: 2.2rem;
        line-height: 40px;
        padding: 0 0 30px 0;
        width: 695px;
    }
    .serviceIcon{
        height: 45px;
        width: 45px;
        margin-right: 15px;
    }
    #serviceText{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    #contact{
        width: 600px;
        padding: 45px;
        margin: 60px 0;
    }
    #contactForm>*>*{
        width: 100%;
    }
    footer{
        font-size: 2.0rem;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translatey(20%);
        opacity: 0%;
    }

    100% {
        transform: translatey(0);
        opacity: 100%;
    }
}